/* Synaptic's toolbar */
GtkWindow > GtkBox > GtkBox > .toolbar,
GtkWindow > GtkVBox > .dock,
GtkWindow > GtkVBox > .dock > GtkHBox > GtkToolbar {
    padding: 6px;
    border-style: none;
    background-image: linear-gradient(to bottom,
                                      @toolbar_bg_color,
                                      @toolbar_bg_color
                                      );

    color: @toolbar_fg_color;

}

